@use 'variables' as *;
@use 'functions' as *;

.overlay {
  position: fixed;
  inset: 0; // fills entire screen 
  background: v(--bg); 
  display: flex; 
  flex-direction: column; 
  padding: 0; 
  font-size: 1.5rem;
  opacity: .5; 
  filter: blur(1);
} 
.content { 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: gfs(medium); 
  background: map-get($map: $primary, $key: dark); 
  padding: 24px; 
  border-radius: 12px; 
  width: 400px; 
}


#AddTask {
  width: 20rem;
  height: 30rem;
}

#cancelButton {
  width: 2.75rem !important;
  height: 2.75rem !important;
  margin-bottom: 1rem;
  margin-top: 0;
}

input,
textarea {
  width: 90%;
  height: 4vh;
  padding: .32rem;
  background-color: map-get($map: $primary, $key: main);
  border: none;
  padding-left: gs(xsmall);
  border-radius: gs(xsmall);
  margin-top: calc(gs(xsmall) / 2);
  margin-bottom: gs(xsmall);
  color: var(--text);
}

input::placeholder,
textarea::placeholder {
  font-family: $font-family-base;
  color: var(--text)
}

textarea {
  height: 13vh;
  font-family: $font-family-base;
}

#dialogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

#taskTitle {
  margin-top: 0;
  margin-bottom: 0;
}

#taskDescript {
  margin-top: 0;
}
